{% extends 'base.html' %}

{% block title %}消息通知{% endblock %}

{% block header %}
<div class="header">
    <h1>消息通知</h1>
    <span style="position: absolute; right: 15px; top: 15px; font-size: 13px; color: #999;">全部已读</span>
</div>
{% endblock %}

{% block content %}
<div class="notification-list">
    {% for notice in notifications %}
    <div class="notice-item">
        <div class="notice-type">{{ notice.type }}</div>
        <div class="notice-content">{{ notice.content }}</div>
        <div class="notice-time">{{ notice.create_time }}</div>
    </div>
    {% else %}
    <p style="text-align: center; color: #999; padding: 30px 0;">暂无消息</p>
    {% endfor %}
</div>
{% endblock %}
